/*! @docsearch/css 3.1.0 | MIT License | © Algolia, Inc. and contributors | https://docsearch.algolia.com */
:root {
  --docsearch-primary-color: #ff931e;
  --docsearch-logo-color: #ff931e;
  /* --docsearch-primary-color: red;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: theme('colors.slate.500');
  --docsearch-emphasis-color: theme('colors.slate.900');
  --docsearch-logo-color: #5468ff;
  --docsearch-modal-width: 35rem;
  --docsearch-modal-height: 37.5rem;
  --docsearch-modal-background: theme('colors.white');
  --docsearch-modal-shadow: theme('boxShadow.xl');
  --docsearch-searchbox-height: 3rem;
  --docsearch-hit-color: theme('colors.slate.700');
  --docsearch-hit-active-color: theme('colors.sky.600');
  --docsearch-hit-active-background: theme('colors.slate.100');
  --docsearch-footer-height: 3rem;
  --docsearch-border-color: theme('colors.slate.200');
  --docsearch-input-color: theme('colors.slate.900');
  --docsearch-heading-color: theme('colors.slate.900');
  --docsearch-key-background: theme('colors.slate.100');
  --docsearch-key-hover-background: theme('colors.slate.200');
  --docsearch-key-color: theme('colors.slate.500');
  --docsearch-action-color: theme('colors.slate.400');
  --docsearch-action-active-background: theme('colors.slate.200');
  --docsearch-loading-background: theme('colors.slate.400');
  --docsearch-loading-foreground: theme('colors.slate.900'); */
}

html[data-theme=dark] {
  --docsearch-primary-color: theme('colors.slate.500');
  --docsearch-hit-color: theme('colors.slate.300');
  --docsearch-hit-active-color: theme('colors.slate.100');
  --docsearch-highlight-color: theme('colors.sky.700');
  --docsearch-logo-color: theme('colors.slate.500');
  /* --docsearch-primary-color: #ff931e;
  --docsearch-highlight-color: var(--docsearch-primary-color);
  --docsearch-muted-color: theme('colors.slate.400');
  --docsearch-emphasis-color: theme('colors.white');
  --docsearch-logo-color: theme('colors.slate.300');
  --docsearch-modal-background: theme('colors.slate.800');
  --docsearch-modal-shadow: 0 0 0 1px theme('colors.slate.700'),
    theme('boxShadow.xl');
  --docsearch-hit-color: theme('colors.slate.300');
  --docsearch-hit-active-color: theme('colors.sky.400');
  --docsearch-hit-active-background: rgb(51 65 85 / 0.3);
  --docsearch-border-color: rgb(148 163 184 / 0.1);
  --docsearch-heading-color: theme('colors.white');
  --docsearch-key-background: rgb(51 65 85 / 0.4);
  --docsearch-key-hover-background: rgb(51 65 85 / 0.8);
  --docsearch-key-color: theme('colors.slate.400');
  --docsearch-input-color: theme('colors.white');
  --docsearch-action-color: theme('colors.slate.500');
  --docsearch-action-active-background: theme('colors.slate.700');
  --docsearch-loading-background: theme('colors.slate.500');
  --docsearch-loading-foreground: theme('colors.white'); */
}
